.body {
  /* background-color: rgb(43, 43, 49); */
  min-height: 100vh;
  overflow-y: hidden !important;
}

.backgroundContainerCreate {
  width: 100%;
  min-height: 100vh;
  height: 110vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.692);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.containerCreateMarker {
  z-index: 3;
  background-color: white;
  border: 3px solid black;
  max-width: 400px;
  padding: 1rem;
}

.containerCreateMarker h2 {
  margin-bottom: 1em;
}

.inputCreateMarker {
  margin-bottom: 1rem;
  display: block;
}

.divButtonsCreateCancel {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}
.containerCreateMarker div button {
  padding: 0.3em 1rem;
}

.headerCreateManager {
  /* background-color: rgb(19, 19, 32); */
  /* background-color: rgb(66, 214, 115); */
  /* background-color: rgb(28, 151, 182); */
  background-color: rgb(27, 121, 145);
  margin-bottom: 2rem;
}

.headerContent {
  margin: 0 auto;
  width: 80%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0 2.5rem 0;
}

.headerContent button {
  font-size: 1em;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: none;
  color: rgb(28, 151, 182);
}

.containerMain {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
  margin-bottom: 2rem;
}

.containerInfo {
  /* border: 3px solid black; */
  /* border-radius: 12px; */
  /* min-width: 300px; */
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 8px 1px rgb(116, 116, 116);
}
.nameAndDeletteButton {
  width: 100%;
  /* height: 40%; */
  /* background-color: rgb(145, 142, 142); */
  background-color: rgb(28, 151, 182);
  color: rgb(255, 255, 255);
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border-radius: 12px 12px 0 0; */
}
.titleName {
  font-size: 2rem;
  overflow-y: auto;
  max-width: 600px;
  white-space: nowrap;
}

.deleteButton {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2rem;
}

.spots {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 3.5rem 0;
  background-color: rgb(255, 255, 255);
  position: relative;
}

.moneyCard {
  font-size: 3.2rem;
  color: black;
  text-decoration: none;
}

.createDate {
  font-size: 1.3rem;
  position: absolute;
  bottom: 2px;
  right: 5px;
}

@media screen and (max-width: 430px) {
  .headerContent {
    padding: 0.5em 0.3rem;
    width: 90%;
    margin-bottom: 0px;
  }
  .headerContent h1 {
    font-size: 1.2rem;
  }
  .headerContent button {
    font-size: 1rem;
  }

  .containerMain {
    max-width: 90%;
  }

  .nameAndDeletteButton {
    border: none;
    padding: 0.4rem 0.8rem;
  }

  .deleteButton {
    font-size: 1.4rem;
  }
  .titleName {
    font-size: 1.4rem;
  }

  .moneyCard {
    font-size: 2.4rem;
  }
}
