* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  /* background-color: rgb(10, 206, 141); */
  background-color: rgb(232, 232, 233);
}

button,
input {
  cursor: pointer;
}
